/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/
*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial, helvetica, sans serif;
    --cyan: #008b8b;
}

body {
    background-color: black;
    color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/***************************************/
/************* HEADER ******************/
/***************************************/
header {
    display: flex;
    flex-direction: column;
}

    header h1 {
        text-transform: uppercase;
        text-align: center;
        margin: 15px 0 30px 0;
    }

    header nav {
        background-color: var(--cyan);
    }

    header ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
    }

        header ul li a {
            display: block;
            height: 100%;
            width: 100%;
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            text-decoration: none;
            padding: 10px 20px;
        }

        header ul li:hover a {
            background-color: black;
        }



/***************************************/
/************* FOOTER ******************/
/***************************************/
footer .top {
    display: flex;
    justify-content: center;
    background-color: white;
}

.top > div {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 10px 0;
    background-color: var(--cyan);
}

.top div p:first-of-type {
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}

.top div p:not(:first-of-type) {
    font-size: 0.8em;
    text-align: left;
}

footer .bottom {
    display: flex;
    justify-content: space-between;
    margin: 30px 20px 60px 20px;
}


div#container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 800px;
}

div#container article a {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 15px 25px;
}

div#container article {
    padding-bottom: 10px;
}

article:hover {
    color: rgb(29, 145, 160);
}

article h3 {
    text-align: center;
}

img:hover {
    width: 260px;
    height: 260px;
}

.ColoringExample {
    color: black;
}