@model IEnumerable<BistrotUGA.Data.Models.Restaurant> 
@{
    ViewBag.Title = "Bistrot de l'UGA";
}

<div class="container">
    @foreach (var resto in Model)
    {
    <a href="@Url.Action("Dishes/"+resto.Id,"Restaurant")">
        <div class="resto_body">
            <div class="resto_img">
                <img src="@Url.Content("~/Content/Images/"+resto.Name+".jpg")" alt=@resto.Name />
            </div>
            <div class="resto_info">
                <p>@resto.Name</p>
                <p>@resto.Adress</p>
            </div>
        </div>
    </a>
    }
</div>


