@model BistrotUGA.Web.Models.DishCategory

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>

<div class="panel panel-warning">

    @foreach (var menuItem in Model.Dishes)
    {
        <div class="panel-heading">@menuItem.Id : @menuItem.Name</div>
        <div class="panel-body text-primary">
            @menuItem.Price €
        </div>
    }

</div>
